{% extends 'blog/base.html' %}
{% block content %}
<div class="row">
<div class="card-panel">
    <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3 center-align">
    <form method="POST" class="post-form" enctype="multipart/form-data" action="{% url 'edit_profile'%}">
    {% csrf_token %}
    {{ usrform.as_p }}
    {{ picform.as_p }}
        <br>
     <button type="submit" class="save btn btn-default">Сохранить</button>
            </form>
    </div>
</div></div>
</div>
{% endblock %}