            body {
                background-color: #EDEEF0;
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
.categorys {
                margin-top: 10px;
                width: 100%;
            }
#dropdown2 {
    width: 200px !important;
}
